.navItems {
  color: #fff;
  font-weight: 700;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.6s;
}

.navItems:hover {
  color: #000;
  cursor: pointer;
  transform: rotate(10deg);
}

.navItems:after {
  content: "";
  background-color: #fff;
  display: block;
  height: 4px;
  width: 0%;
  transition: 0.6s;
}

.navItems:hover::after {
  width: 100%;
}
